<style type="text/css">
    .intro {
        transform: translateY(0vh) !important;
    }

    .video-container {
        position: relative; 
        padding-bottom: 43%; 
        /*overflow: hidden;*/
        max-width:  1080px;
        margin: 0 auto 0 auto;
    }

    .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

    p {
        padding: 10px;
        max-width:  800px;
        margin: 0 auto 0 auto;
    }
</style>

<div class="intro">
    <h1><a href="/spectatorsport">Spectator Sport</a></h1>

    <p>
        Is a game entirely based off user feedback in an extreme user feedback loop. 
    </p>
    <p>
        Play and read more about it here <a href="/spectatorsport">https://www.partyparrotgames.com/spectatorsport</a>
    </p>

    <p>
        Suggestions and voting <a href="https://www.reddit.com/r/spectatorsport/">https://www.reddit.com/r/spectatorsport/</a>
    </p>
    

    <h1>Save the Llama</h1>

    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/E0fqOfcDN4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>
        Aliens are coming to steal your llamas!  Assemble advanced towers from old farm equipment, mechanize the landscape, and erect an impenetrable perimeter to defend your livestock.  Construct your towers up moving platforms of different design and manage their movement and timing to your strategic advantage to defeat the waves of enemies.
    </p>

    <iframe src="https://store.steampowered.com/widget/1828030/" frameborder="0" width="646" height="190"></iframe>

    <br>

    <h1>Picnic Panic</h1>

    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/69yld5gwNe8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>
        This colorful rogue-like top down fruit shooter is built with all of its art assets crafted using Houdini for the Houdini 2021 Game Jam.  Defend against waves of ants using colorful fruit projectiles that splatter juice everywhere as they go.  Delve into the ants' nest with Snarfle the snail and put an end to their food tyranny.  Each wave the player may choose from 3 fruits to boost their projectiles and abilities.  The game rewards players with a quick top down romp and abstract impressionist splatter art if they manage to defend their picnic.
    </p>

    <p>
        Placed 3rd in the Houdini 2021 Game Jam!
    </p>

    <h2><a href="https://iepathos.itch.io/picnic-panic">Play now https://iepathos.itch.io/picnic-panic</a></h2>

    <br>

    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <a href="/posts/"> <img src="{{ (printf "%s%s" $cdn_url $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ if or .Params.gravatar.Email (and .Site.Params.gravatar.Email (ne .Params.gravatar.Email false)) }}
    <div class="avatar">
			<a href="/posts/">	<img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp" alt="gravatar"> </a>
		</div>
		{{ end }}
    {{ with .Site.Params.subtitle}}
    <h2 class="description">
       {{ . }}
    </h2>
    {{ end }}
    <div class="social-links">
      {{ partial "social.html" . }}
  
    </div>
</div>
